@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cdcdbc;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.header__call-order-button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
  }
}

.nav__link {
  color: var(--color-primary-light);
  text-decoration: none;

  &:hover {
    color: var(--color-brand-normal);
    text-decoration: underline;
  }
}

.header-flex-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;

  .nav__list {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}

.traditions,
.chef,
.format {
  padding: 48px 0;
}

.hero {
  padding: 272px 0;
  background-image: url('../img/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero__title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;

  .accent {
    color: var(--color-brand-normal);
  }
}

.avantages {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.avantages__hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.avantages__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.avantages__item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.traditions {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions__title,
.chef__title,
.format__title,
.contact__title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.traditions__title {
  margin-bottom: 42px;
}

.traditions__paragraph {
  .accent {
    color: var(--color-brand-normal);
  }
  .brand {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.traditions__paragraph-limited {
  max-width: 340px;
}

.chef__title,
.format__title {
  text-align: center;
}

.chef__title {
  max-width: 520px;
  margin: 0 auto 80px;

  &::before,
  &::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
  }

  .accent {
    color: var(--color-brand-dark);
  }
}

.chef__list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;

  .chef__item {
    flex-basis: calc((100% - 30px) / 2);

    .chef__article {
      display: flex;
      gap: 30px;
    }
  }
}

.chef__image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef__name {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef__description p {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.format__title {
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 1px solid var(--color-primary-dark);

  .formats-arrow {
    width: 16px;
    height: 16px;
    fill: var(--color-primary-dark);
  }

  &:hover {
    background-color: var(--color-primary-dark);
    .formats-arrow {
      fill: var(--color-primary-light);
    }
  }
}

.format__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format__card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
}

.format__item {
  flex-basis: calc((100% - 40px) / 3);
}

.format__subtitle {
  font-style: 24px;
  font-weight: 600;
}

.format__card__text {
  font-size: 14px;
  font-weight: 300;
}

.contact__title {
  margin-bottom: 16px;
}

.contact {
  padding: 96px 0;
}

.contact-container {
  display: flex;
  gap: 32px;

  .contact-form {
  }

  .contact__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }
}

.footer {
  background-image: url('../img/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  .footer-container {
    display: flex;
    gap: 20px;

    & > * {
      flex-basis: 50%;
      display: flex;
      gap: 20px;

      & > * {
        flex-basis: 50%;
      }
    }

    /*.footer__nav {
      .nav__logo {
      }
    }

    .footer__address {
      .address_info {
      }
    }*/
  }
}

.footer__contact-item,
.footer__contact-link,
.footer__privacy-policy-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.footer__contact-item:hover {
  color: var(--color-brand-normal);
}

.footer__copyright {
  font-style: 14px;
}

.footer__social-link {
  .icon {
    width: 32px;
    height: 32px;
    fill: var(--color-primary-light);
  }
}
