:root {
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cdcdbc;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-inactive-button: gray;
  --bg-color-inactive-button: lightgray;
  --bg-color-model: rgba(0, 0, 0, 0.5);
}
