.contact {
    padding: 96px 0;
  
    .contact-container {
      display: flex;
      gap: 32px;
  
      .contact-form {
        .contact__title {
          margin-bottom: 16px;
        }
      }
  
      .contact__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
      }
    }
  }