.traditions {
    padding: 96px 0 48px;
  
    .traditions-container {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }
  
    .traditions-content {
      max-width: 710px;
  
      .traditions__title {
        margin-bottom: 42px;
      }
  
      .traditions__paragraph {
        .accent {
          color: var(--color-brand-normal);
        }
        .brand {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
  
      .traditions__paragraph-limited {
        max-width: 340px;
      }
    }
  }